.container {
  min-height: 100vh;
  display: block;

  padding: 0 135px 64px 135px;

  @media (max-width: 992px) {
    padding: 40px;
  }

  @media (max-width: 768px) {
    padding: 15px;
  }

  .header {
    h1 {
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #1c1c20;
    }

    h4 {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #1c1c20;
    }
  }

  .body {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;

    @media (max-width: 992px) {
      flex-direction: column;
    }

    .left {
      padding: 16px;
      background: #f9fafb !important;
      border: 1px solid #e5e5e5;
      border-radius: 8px;
      display: flex;
      flex: 0 0 440px;
      flex-direction: column;

      @media (max-width: 992px) {
        flex: 1 0 auto;
        margin-bottom: 48px;
        align-self: stretch;
      }

      h1 {
        font-size: 20px;
        font-weight: 700;
        background-color: transparent;
      }
    }

    .content {
      padding-left: 32px;
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;

      @media (max-width: 992px) {
        flex: 1 0 auto;
        align-self: stretch;
        padding-left: 0;
      }
    }
  }
}
