.notification {
  max-width: none;
  width: 100%;
  margin-bottom: 16px;
}

.tableWrapper {
  width: 100%;
  overflow: auto;
  height: 100%;
  border-bottom: 1px solid #e5e5e5;

  .resultTable {
    table-layout: fixed;
    width: 100%;
    //border-spacing: 0;
    //border-collapse: separate;

    thead {
      tr {
        height: 52px;

        th {
          background: #f7f8fa;
          border-top: 1px solid #e5e5e5;
          border-bottom: 1px solid #e5e5e5;
          padding: 12px;
          margin: 0;
          position: sticky;
          top: -1px;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: #1c1c20;
          text-align: left;
          z-index: 2;

          &:first-child {
            border-left: 1px solid #e5e5e5 !important;
          }

          &:last-child {
            border-right: 1px solid #e5e5e5 !important;
          }
        }
      }
    }

    tbody {
      tr {
        height: 80px;
        cursor: pointer;

        &:hover {
          background: #f7f8fa;
          border: 1px solid #e5e5e5;
        }

        td {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #7d7d82;
          padding: 12px;

          &:first-child {
            font-weight: 700;
            font-size: 16px;
            color: #7d7d82;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.actions {
  margin-top: 16px;
  display: flex;

  button:first-child {
    margin-right: 16px;
  }

  button {
    flex: 1 1 auto;
  }
}
